* {
  box-sizing: border-box;
}

html {
  padding: 10px 20px;
}

body {
  max-width: 600px;
  margin: 0 auto;
  font-size: 20px;
  text-align: center;
  font-family:
    "Comic Sans MS",
    "Papyrus",
    "Verdana",
    "Helvetica",
    sans-serif;
  background: cornsilk;
  color: chocolate;
}

button,
select,
input {
  font-family: inherit;
  font-size: inherit;
}

a {
  color: dodgerblue;
  text-decoration: none;
  border-bottom: 2px solid currentColor;
}

a:hover {
  color: darkslateblue;
}

.OutlineButton {
  display: inline-block;
  color: dodgerblue;
  text-decoration: none;
  padding: 10px 20px;
  border: 4px solid dodgerblue;
  border-radius: 4px;
}

.OutlineButton:hover {
  background: dodgerblue;
  color: snow;
}

h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 40px;
}

h2 {
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 30px;
}

h1,
h2 {
  font-weight: normal;
}

label {
  display: block;
  margin-bottom: 10px;
}

:focus {
  outline: 4px dotted lightseagreen;
  outline-offset: 4px;
}

.OutlineButton:focus,
select:focus,
button:focus {
  outline-offset: -10px;
}

.Or {
  display: block;
  margin: 10px 0;
  color: salmon;
}

._FileInput {
  display: none;
}

.FileQuality {
  padding: 10px;
  width: 100%;
}

.Retro3D {
  -webkit-appearance: none;
  cursor: pointer;
  font-weight: bold;
  color: green;
  background: honeydew;
  border-radius: 4px;
  border: 4px solid lightpink;
}

.Retro3D:hover {
  background: mistyrose;
  color: crimson;
  box-shadow: inset 0 0 0 4px linen;
}

.FileInput {
  width: 100%;
  padding: 10px;
  min-height: 20vh;
  margin-bottom: 30px;
  cursor: pointer;
  font-weight: bold;
}

.FileOutput {
  display: block;
  width: 100%;
  margin-bottom: 30px;
  max-width: 100%;
  cursor: pointer;
}

.DownloadLink {
  font-size: 40px;
  display: table;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  margin-bottom: 20px;
}

.hidden {
  display: none;
}
