* {
  box-sizing: border-box;
}

html {
  padding: 10px 20px;
}

body {
  max-width: 800px;
  margin: 0 auto;
  font-size: 20px;
  text-align: center;
  font-family: "Comic Sans MS", "Verdana", "Helvetica", sans-serif;
  background: #f8f8f8;
  color: black;
}

button,
select,
input {
  font-family: inherit;
  font-size: inherit;
}

a {
  color: inherit;
  text-decoration: underline;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 20px;
  margin-bottom: 30px;
}

h1,
h2 {
  font-weight: normal;
}

label {
  display: block;
  margin-bottom: 10px;
}

:focus {
  outline: 3px dashed black;
}

.Or {
  opacity: 0.50;
}

._FileInput {
  display: none;
}

.FileQuality {
  -webkit-appearance: none;
  padding: 10px;
}

.Retro3D {
  -webkit-appearance: none;
  color: black;
  background: #eee;
  border-radius: 0;
  border-top: 2px solid white;
  border-left: 2px solid white;
  border-right: 2px solid #aaa;
  border-bottom: 2px solid #aaa;
}

.FileInput {
  width: 100%;
  padding: 10px;
  min-height: 20vh;
  margin-bottom: 30px;
  cursor: pointer;
  font-weight: bold;
}

.FileInput:hover {
}

.FileOutput {
  display: block;
  width: 100%;
  margin-bottom: 30px;
  max-width: 100%;
  cursor: pointer;
}

.DownloadLink {
  display: block;
  margin-top: 30px;
  margin-bottom: 10px;
}

.hidden {
  display: none;
}
