* {
  box-sizing: border-box;
}

html {
  padding: 0;
  margin: 0;
}

body {
  max-width: 600px;
  padding: 1rem;
  margin: 0 auto;
  min-height: 100svh;
  font-family: system-ui, sans-serif;
}

@media (min-width: 800px) {
  body {
    font-size: 1.25rem;
  }
}

img {
  max-width: 100%;
  height: auto;
}

jpeg-app {
  display: block;
}

.bit-auto,
.bit-root {
  --bit-color-bg: hsl(22 100% 95%);
  --bit-color-fg: hsl(22 100% 30%);
  --bit-color-shadow: hsl(22 80% 80%);
  --bit-color-accent: hsl(202 100% 30%);
}

@media (prefers-color-scheme: dark) {
  .bit-auto,
  .bit-root {
    --bit-color-bg: #333;
    --bit-color-fg: #ccc;
    --bit-color-shadow: #666;
    --bit-color-accent: #0fc;
  }
}

.bit-button {
  text-decoration: none;
  text-align: center;
}

.margin0 {
  margin: 0;
}

.box:where(:not([hidden])) {
  display: flex;
}

.box {
  flex-direction: column;
  gap: 1rem;
}

.gap0 {
  gap: 0;
}

.gap1 {
  gap: 0.25rem;
}

.gap2 {
  gap: 0.5rem;
}

.gap3 {
  gap: 1rem;
}

.flex-auto {
  flex: auto;
}

.file-output {
  cursor: pointer;
}
